<link rel="stylesheet" href="../../static/css/login_registration.css">
<div class="overlay"></div>
<form class="register-form">
    <h2>注册</h2>
    <label for="email"><b>用户名</b></label>
    <input type="text" placeholder="Enter username" name="username" required>
    
    <label for="email"><b>邮箱</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>

    <label for="password"><b>密码</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" class="btn">注册</button>
    <p class="link">以游客身份继续</p>
  </form>