<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="../static/tool/jquery.js"></script>
	  <!-- <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- 引入 layui.css -->
    <link href="../static/tool/layui-v2.6.8/layui-v2.6.8/layui/css/layui.css" rel="stylesheet">
    <!-- 引入 layui.js -->
    <script src="../static/tool/layui-v2.6.8/layui-v2.6.8/layui/layui.js"></script>
    
</head>
<body>
<div class="web_body">
  <!-- 导航栏 -->
    {% include 'nav.html' %}
</div>
</body>
</html>

<!-- 处理登录/注册的前端脚本 -->
<script src="../static/js/user/login_registration.js">
</script>